<!DOCTYPE html>
<html lang="en">
<head>
    <script src= "{{ url_for('static', filename='scripts/script.js')}}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Media player</title>
    <link rel = "stylesheet" href = "../static/stylesheets/temp.css">
</head>


</style>
<body>

<header id="nav-wrapper">
    <nav id="nav">
        <div class="nav left">
            <span class="gradient skew"><h1 class="logo un-skew"><a href="#home">Logo Here</a></h1></span>
            <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
        </div>
        <div class="nav right">
            <a href="/" class="nav-link active"><span class="nav-link-span"><span
                    class="u-nav">Home</span></span></a>
            <a href="#playlists" class="nav-link"><span class="nav-link-span"><span
                    class="u-nav">Playlists</span></span></a>
            <a href="songs" class="nav-link"><span class="nav-link-span"><span
                    class="u-nav">Songs</span></span></a>
            <a href="#find_song" class="nav-link"><span class="nav-link-span"><span
                    class="u-nav">Find song</span></span></a>
        </div>
    </nav>
</header>

</body>
</html>