<!--<div class="fixed-wrapper">-->
<!--    <div class="normal-wrapper">-->
<!--        <div id="logo-container">-->
<!--            <i class="fa fa-volume-down logo-icon"></i>-->
<!--            <h1>SOUNDS</h1>-->
<!--        </div>-->
<!--        <ul id="navbar">-->
<!--            <li><a class="not_selected" href="/">Home</a></li>-->
<!--            <li><a class="not_selected" href="#playlists">My playlists</a></li>-->
<!--            <li><a class="not_selected" href="collections">Collections</a></li>-->
<!--            <li><a class="selected" href="songs">All songs</a></li>-->
<!--            <li><a class="not_selected" href="#find_song" class="last-link">Find song</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->
<!--<div id="top-color-splash"></div>-->